site_name: airbot_py
site_url: https://mydomain.org/en/
docs_dir: pages
theme:
  name: material
  language: en
  logo: assets/logo.png
  favicon: assets/favicon.png
  font:
    text: Lato
    code: Space Mono
  palette:
    - media: "(prefers-color-scheme)"
      primary: black
      accent: cyan
      toggle:
        icon: material/brightness-auto
        name: Auto switch

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.footer
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.path
    - navigation.sections
    - navigation.top
    - navigation.indexes
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            find_stubs_package: true
            show_root_heading: true
            # heading_level: 2
            filters:
              - "!ClientBackend"
  - enumerate-headings:
      increment_across_pages: false
      exclude_h1: true

extra:
  version:
    provider: mike
  alternate:
    - name: English
      link: /
      lang: en
    - name: Simplified Chinese
      link: /zh/
      lang: zh

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - footnotes
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.blocks.caption
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: "!!python/name:pymdownx.superfences.fence_code_format"
  - pymdownx.tabbed:
      alternate_style: true
#  - pymdownx.emoji:
#      emoji_index: "!!python/name:material.extensions.emoji.twemoji"
#      emoji_generator: "!!python/name:material.extensions.emoji.to_svg"
  - pymdownx.tasklist:
      custom_checkbox: true

extra_css:
  - css/extra.css
